
.container {
  padding: 3rem 2rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
}

@media (min-width:960px) {
  .container{
    flex-direction: row;
  }
}



.title {
  background-color: bisque;
  padding: 2rem;
  text-align: center;
width: 100%;
}